* {
    padding: 0;
}

/* header section start*/
header {
    margin: 10px 10px;
    .header-top-container {
        display: flex;
        align-items: flex-start;
        
        position: relative;
        gap: 100px;

        .header-top-left {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 50px;

            h3 {
                border-right: 1px solid gray;
                padding-right: 20px;
            }
        }

        .header-top-middle {
            
            align-items: center;
            display: flex;
            p {
                text-align: center;
                font-size: 1.2rem;
               
            }
        }

        .header-top-right {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 80px;

            .header-top-right-left {
                
                
                

                p {
                    strong {
                        color: green;
                        font-size: 1.5rem;
                        padding-left: 20px;
                    }

                    strong:hover {
                        color: blue;
                    }
                }
            }

            .header-top-right-right {
                text-align: center;
                gap: 20px;
                display: inline-flex;
                select{
                    border: none;
                    border-left: 1px solid black;
                    padding-left: 10px;
                    font-size: 1.2rem;
                    option{
                        
                    }
                }

               


            }
        }
    }
}

/* header section end*/


/* main section start*/
/* main section end*/


/* footer section start*/
/* footer section end*/






/* responsive media query*/
/* responsive media query for small device*/
@media screen and (max-width:576px) {
    header {
        margin: 0px 10px;
        .header-top-container {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            gap: 20px;
    
            .header-top-left {
                display: flex;
                align-items: center;
                justify-content: space-around;
                
    
                h3 {
                    border-right: 1px solid gray;
                    padding-right: 10px;
                    font-size: 0.6rem;
                    .last-child{
                        border-right: none;
                    }
                }
            }
    
            .header-top-middle {
                display: none;
                align-items: center;
                
                p {
                    text-align: center;
                    font-size: 1.2rem;
                   
                }
            }
    
            .header-top-right {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 40px;
                display: none;
                .header-top-right-left {
                    
                    display: none;
                    
    
                    p {
                        strong {
                            color: green;
                            font-size: 1rem;
                            padding-left: 20px;
                        }
    
                        strong:hover {
                            color: blue;
                        }
                    }
                }
    
                .header-top-right-right {
                    text-align: center;
                    gap: 20px;
                    display: inline-flex;
                    align-items: center;
                    select{
                        border: none;
                        border-left: 1px solid black;
                        padding-left: 10px;
                        font-size: 1rem;
                        option{
                            
                        }
                    }
    
                   
    
    
                }
            }
        }
    }
}



/* responsive media query for medium device*/
@media screen and (min-width:576px) and (max-width:992px) {
    header {
        margin: 0px 10px;
        .header-top-container {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            position: relative;
            gap: 20px;
    
            .header-top-left {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 30px;
    
                h3 {
                    border-right: 1px solid gray;
                    padding-right: 10px;
                    font-size: 1rem;
                }
            }
    
            .header-top-middle {
                display: none;
                align-items: center;
                
                p {
                    text-align: center;
                    font-size: 1.2rem;
                   
                }
            }
    
            .header-top-right {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 40px;
    
                .header-top-right-left {
                    
                    display: none;
                    
    
                    p {
                        strong {
                            color: green;
                            font-size: 1rem;
                            padding-left: 20px;
                        }
    
                        strong:hover {
                            color: blue;
                        }
                    }
                }
    
                .header-top-right-right {
                    text-align: center;
                    gap: 20px;
                    display: inline-flex;
                    align-items: center;
                    select{
                        border: none;
                        border-left: 1px solid black;
                        padding-left: 10px;
                        font-size: 1rem;
                        option{
                            
                        }
                    }
    
                   
    
    
                }
            }
        }
    }
}



/* responsive media query for large device*/
@media screen and (min-width:992px) and (max-width:1400px) {
    header {
        margin: 0px 10px;
        .header-top-container {
            display: flex;
            align-items: flex-start;
            justify-content: space-evenly;
            position: relative;
            gap: 40px;
    
            .header-top-left {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 20px;
    
                h3 {
                    border-right: 1px solid gray;
                    padding-right: 10px;
                    font-size: 1rem;
                }
            }
    
            .header-top-middle {
                display: none;
                align-items: center;
                
                p {
                    text-align: center;
                    font-size: 1.2rem;
                   
                }
            }
    
            .header-top-right {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 40px;
    
                .header-top-right-left {
                    
                    
                    
    
                    p {
                        strong {
                            color: green;
                            font-size: 1rem;
                            padding-left: 0px;
                            text-align: center;
                        }
    
                        strong:hover {
                            color: blue;
                        }
                    }
                }
    
                .header-top-right-right {
                    text-align: center;
                    gap: 20px;
                    display: inline-flex;
                    select{
                        border: none;
                        border-left: 1px solid black;
                        padding-left: 10px;
                        font-size: 1.2rem;
                        option{
                            
                        }
                    }
    
                   
    
    
                }
            }
        }
    } 
}




/* responsive media query for extra-large device*/
@media screen and (min-width:1400px) {
    header {
        margin: 0px 10px;
        .header-top-container {
            display: flex;
            align-items: flex-start;
            
            position: relative;
            gap: 100px;
    
            .header-top-left {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 50px;
    
                h3 {
                    border-right: 1px solid gray;
                    padding-right: 20px;
                }
            }
    
            .header-top-middle {
                
                align-items: center;
                display: flex;
                p {
                    text-align: center;
                    font-size: 1.2rem;
                   
                }
            }
    
            .header-top-right {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 80px;
    
                .header-top-right-left {
                    
                    
                    
    
                    p {
                        strong {
                            color: green;
                            font-size: 1.5rem;
                            padding-left: 20px;
                        }
    
                        strong:hover {
                            color: blue;
                        }
                    }
                }
    
                .header-top-right-right {
                    text-align: center;
                    gap: 20px;
                    display: inline-flex;
                    select{
                        border: none;
                        border-left: 1px solid black;
                        padding-left: 10px;
                        font-size: 1.2rem;
                        option{
                            
                        }
                    }
    
                   
    
    
                }
            }
        }
    }
}