* {
  padding: 0;
  box-sizing: border-box;
}

/* header section start*/
header {
  margin: 10px 10px;
}
header .header-top-container {
  display: flex;
  align-items: flex-start;
  position: relative;
  gap: 100px;
}
header .header-top-container .header-top-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
header .header-top-container .header-top-left h3 {
  border-right: 1px solid gray;
  padding-right: 20px;
}
header .header-top-container .header-top-middle {
  align-items: center;
  display: flex;
}
header .header-top-container .header-top-middle p {
  text-align: center;
  font-size: 1.2rem;
}
header .header-top-container .header-top-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
}
header .header-top-container .header-top-right .header-top-right-left p strong {
  color: green;
  font-size: 1.5rem;
  padding-left: 20px;
}
header .header-top-container .header-top-right .header-top-right-left p strong:hover {
  color: blue;
}
header .header-top-container .header-top-right .header-top-right-right {
  text-align: center;
  gap: 20px;
  display: inline-flex;
}
header .header-top-container .header-top-right .header-top-right-right select {
  border: none;
  border-left: 1px solid black;
  padding-left: 10px;
  font-size: 1.2rem;
}
header .header-middle-container {
  display: flex;
  align-items: center;
  font-family: montserrat;
  padding: 10px 0px;
  justify-content: space-between;
  border-top: 1px solid rgba(128, 128, 128, 0.34);
  border-bottom: 1px solid rgba(128, 128, 128, 0.34);
}
header .header-middle-container .logo-container img {
  max-width: 200px;
}
header .header-middle-container .search-icons-container {
  display: flex;
  align-items: center;
}
header .header-middle-container .search-icons-container .search-category-container {
  display: flex;
  align-items: center;
  border: 3px solid rgba(0, 128, 0, 0.249);
  padding: 12px 15px;
  border-radius: 10px;
}
header .header-middle-container .search-icons-container .search-category-container .all-category select {
  padding: 8px 10px;
  padding-right: 0px;
  border: transparent;
  font-size: 1.2rem;
  border-right: 1px solid gray;
  outline: none;
  overflow: hidden;
}
header .header-middle-container .search-icons-container .search-category-container .search {
  opacity: 0.35;
  padding-left: 20px;
}
header .header-middle-container .search-icons-container .search-category-container .search .search-bar {
  padding: 8px 10px;
  border: none;
  font-size: 1.2rem;
  margin-right: 10px;
  outline: none;
}
header .header-middle-container .search-icons-container .search-category-container .search i {
  font-size: 1.2rem;
}
header .header-middle-container .account-container h3 {
  text-align: center;
}
header .header-middle-container .account-container h3 i {
  padding-right: 10px;
}
header .header-middle-container .account-container ul {
  display: none;
  position: relative;
}
header .header-middle-container .account-container ul li {
  list-style-type: none;
}
header .header-middle-container .account-container ul li a {
  text-decoration: none;
  color: black;
  font-family: montserrat;
}
header .header-middle-container .account-container:hover i {
  padding-right: 10px;
}
header .header-middle-container .account-container:hover ul {
  display: block;
  position: absolute;
  top: 140px;
  right: 10px;
  background-color: green;
  padding: 20px 10px;
  border-radius: 10px;
  transition: all 2s ease 0s;
}
header .header-middle-container .account-container:hover ul li {
  list-style-type: none;
  padding: 10px;
}
header .header-middle-container .account-container:hover ul li a {
  text-decoration: none;
  color: white;
  font-family: montserrat;
  font-weight: 500;
}
header .header-bottom-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header .header-bottom-container .header-bottom-nav-container ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
header .header-bottom-container .header-bottom-nav-container ul li {
  list-style-type: none;
}
header .header-bottom-container .header-bottom-nav-container ul li a {
  background-color: green;
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
  border-radius: 10px;
  padding: 5px 10px;
  text-decoration: none;
  border: 1px solid transparent;
}
header .header-bottom-container .header-bottom-nav-container ul li .home {
  background-color: white;
  color: green;
  font-weight: 700;
  font-size: 1.5rem;
  border-radius: 10px;
  padding: 5px 10px;
}
header .header-bottom-container .header-bottom-support-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
header .header-bottom-container .header-bottom-support-container p {
  font-size: 1.7rem;
  color: green;
  font-weight: 700;
}
header .header-bottom-container .header-bottom-support-container p span {
  font-size: 1rem;
  color: black;
  font-weight: 300;
}

/* header section end*/
/* main section start*/
/* main section end*/
/* footer section start*/
/* footer section end*/
/* responsive media query*/
/* responsive media query for small device*/
@media screen and (max-width: 576px) {
  header {
    margin: 0px 0px;
  }
  header .header-top-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 20px;
  }
  header .header-top-container .header-top-left {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  header .header-top-container .header-top-left h3 {
    border-right: 1px solid gray;
    padding-right: 10px;
    font-size: 0.6rem;
  }
  header .header-top-container .header-top-left h3 .last-child {
    border-right: none;
  }
  header .header-top-container .header-top-middle {
    display: none;
    align-items: center;
  }
  header .header-top-container .header-top-middle p {
    text-align: center;
    font-size: 1.2rem;
  }
  header .header-top-container .header-top-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    display: none;
  }
  header .header-top-container .header-top-right .header-top-right-left {
    display: none;
  }
  header .header-top-container .header-top-right .header-top-right-left p strong {
    color: green;
    font-size: 1rem;
    padding-left: 20px;
  }
  header .header-top-container .header-top-right .header-top-right-left p strong:hover {
    color: blue;
  }
  header .header-top-container .header-top-right .header-top-right-right {
    text-align: center;
    gap: 20px;
    display: inline-flex;
    align-items: center;
  }
  header .header-top-container .header-top-right .header-top-right-right select {
    border: none;
    border-left: 1px solid black;
    padding-left: 10px;
    font-size: 1rem;
  }
  header .header-middle-container {
    display: flex;
    align-items: center;
    font-family: montserrat;
    padding: 10px 0px;
    justify-content: space-between;
    border-top: 1px solid rgba(128, 128, 128, 0.34);
    border-bottom: 1px solid rgba(128, 128, 128, 0.34);
  }
  header .header-middle-container .logo-container img {
    max-width: 90px;
  }
  header .header-middle-container .search-icons-container {
    display: flex;
    align-items: center;
    display: none;
  }
  header .header-middle-container .search-icons-container .search-category-container {
    display: flex;
    align-items: center;
    border: 3px solid rgba(0, 128, 0, 0.249);
    padding: 10px 5px;
    border-radius: 10px;
  }
  header .header-middle-container .search-icons-container .search-category-container .all-category select {
    padding: 8px 5px;
    padding-right: 0px;
    border: transparent;
    font-size: 1rem;
    border-right: 1px solid gray;
    outline: none;
    overflow: hidden;
  }
  header .header-middle-container .search-icons-container .search-category-container .search {
    opacity: 0.35;
    padding-left: 10px;
  }
  header .header-middle-container .search-icons-container .search-category-container .search .search-bar {
    padding: 8px 5px;
    border: none;
    font-size: 1rem;
    margin-right: 10px;
    outline: none;
  }
  header .header-middle-container .search-icons-container .search-category-container .search i {
    font-size: 1rem;
  }
  header .header-middle-container .account-container h3 {
    text-align: center;
  }
  header .header-middle-container .account-container h3 i {
    padding-right: 10px;
  }
  header .header-middle-container .account-container ul {
    display: none;
    position: relative;
  }
  header .header-middle-container .account-container ul li {
    list-style-type: none;
  }
  header .header-middle-container .account-container ul li a {
    text-decoration: none;
    color: black;
    font-family: montserrat;
  }
  header .header-middle-container .account-container:hover i {
    padding-right: 10px;
  }
  header .header-middle-container .account-container:hover ul {
    display: block;
    position: absolute;
    top: 140px;
    right: 10px;
    background-color: green;
    padding: 20px 10px;
    border-radius: 10px;
    transition: all 2s ease 0s;
  }
  header .header-middle-container .account-container:hover ul li {
    list-style-type: none;
    padding: 10px;
  }
  header .header-middle-container .account-container:hover ul li a {
    text-decoration: none;
    color: white;
    font-family: montserrat;
    font-weight: 500;
  }
}
/* responsive media query for medium device*/
@media screen and (min-width: 576px) and (max-width: 992px) {
  header {
    margin: 0px 10px;
  }
  header .header-top-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    gap: 20px;
  }
  header .header-top-container .header-top-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }
  header .header-top-container .header-top-left h3 {
    border-right: 1px solid gray;
    padding-right: 10px;
    font-size: 1rem;
  }
  header .header-top-container .header-top-middle {
    display: none;
    align-items: center;
  }
  header .header-top-container .header-top-middle p {
    text-align: center;
    font-size: 1.2rem;
  }
  header .header-top-container .header-top-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  header .header-top-container .header-top-right .header-top-right-left {
    display: none;
  }
  header .header-top-container .header-top-right .header-top-right-left p strong {
    color: green;
    font-size: 1rem;
    padding-left: 20px;
  }
  header .header-top-container .header-top-right .header-top-right-left p strong:hover {
    color: blue;
  }
  header .header-top-container .header-top-right .header-top-right-right {
    text-align: center;
    gap: 20px;
    display: inline-flex;
    align-items: center;
  }
  header .header-top-container .header-top-right .header-top-right-right select {
    border: none;
    border-left: 1px solid black;
    padding-left: 10px;
    font-size: 1rem;
  }
  header .header-middle-container {
    display: flex;
    align-items: center;
    font-family: montserrat;
    padding: 10px 0px;
    justify-content: space-between;
    border-top: 1px solid rgba(128, 128, 128, 0.34);
    border-bottom: 1px solid rgba(128, 128, 128, 0.34);
  }
  header .header-middle-container .logo-container img {
    max-width: 90px;
  }
  header .header-middle-container .search-icons-container {
    display: flex;
    align-items: center;
  }
  header .header-middle-container .search-icons-container .search-category-container {
    display: flex;
    align-items: center;
    border: 3px solid rgba(0, 128, 0, 0.249);
    padding: 10px 5px;
    border-radius: 10px;
  }
  header .header-middle-container .search-icons-container .search-category-container .all-category select {
    padding: 8px 5px;
    padding-right: 0px;
    border: transparent;
    font-size: 1rem;
    border-right: 1px solid gray;
    outline: none;
    overflow: hidden;
  }
  header .header-middle-container .search-icons-container .search-category-container .search {
    opacity: 0.35;
    padding-left: 10px;
  }
  header .header-middle-container .search-icons-container .search-category-container .search .search-bar {
    padding: 8px 5px;
    border: none;
    font-size: 1rem;
    margin-right: 10px;
    outline: none;
  }
  header .header-middle-container .search-icons-container .search-category-container .search i {
    font-size: 1rem;
  }
  header .header-middle-container .account-container h3 {
    text-align: center;
  }
  header .header-middle-container .account-container h3 i {
    padding-right: 10px;
  }
  header .header-middle-container .account-container ul {
    display: none;
    position: relative;
  }
  header .header-middle-container .account-container ul li {
    list-style-type: none;
  }
  header .header-middle-container .account-container ul li a {
    text-decoration: none;
    color: black;
    font-family: montserrat;
  }
  header .header-middle-container .account-container:hover i {
    padding-right: 10px;
  }
  header .header-middle-container .account-container:hover ul {
    display: block;
    position: absolute;
    top: 140px;
    right: 10px;
    background-color: green;
    padding: 20px 10px;
    border-radius: 10px;
    transition: all 2s ease 0s;
  }
  header .header-middle-container .account-container:hover ul li {
    list-style-type: none;
    padding: 10px;
  }
  header .header-middle-container .account-container:hover ul li a {
    text-decoration: none;
    color: white;
    font-family: montserrat;
    font-weight: 500;
  }
}
/* responsive media query for large device*/
@media screen and (min-width: 992px) and (max-width: 1400px) {
  header {
    margin: 0px 10px;
  }
  header .header-top-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    position: relative;
    gap: 40px;
  }
  header .header-top-container .header-top-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
  header .header-top-container .header-top-left h3 {
    border-right: 1px solid gray;
    padding-right: 10px;
    font-size: 1rem;
  }
  header .header-top-container .header-top-middle {
    display: none;
    align-items: center;
  }
  header .header-top-container .header-top-middle p {
    text-align: center;
    font-size: 1.2rem;
  }
  header .header-top-container .header-top-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
  }
  header .header-top-container .header-top-right .header-top-right-left p strong {
    color: green;
    font-size: 1rem;
    padding-left: 0px;
    text-align: center;
  }
  header .header-top-container .header-top-right .header-top-right-left p strong:hover {
    color: blue;
  }
  header .header-top-container .header-top-right .header-top-right-right {
    text-align: center;
    gap: 20px;
    display: inline-flex;
  }
  header .header-top-container .header-top-right .header-top-right-right select {
    border: none;
    border-left: 1px solid black;
    padding-left: 10px;
    font-size: 1.2rem;
  }
}
/* responsive media query for extra-large device*/
@media screen and (min-width: 1400px) {
  header {
    margin: 0px 10px;
  }
  header .header-top-container {
    display: flex;
    align-items: flex-start;
    position: relative;
    gap: 100px;
  }
  header .header-top-container .header-top-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
  }
  header .header-top-container .header-top-left h3 {
    border-right: 1px solid gray;
    padding-right: 20px;
  }
  header .header-top-container .header-top-middle {
    align-items: center;
    display: flex;
  }
  header .header-top-container .header-top-middle p {
    text-align: center;
    font-size: 1.2rem;
  }
  header .header-top-container .header-top-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
  }
  header .header-top-container .header-top-right .header-top-right-left p strong {
    color: green;
    font-size: 1.5rem;
    padding-left: 20px;
  }
  header .header-top-container .header-top-right .header-top-right-left p strong:hover {
    color: blue;
  }
  header .header-top-container .header-top-right .header-top-right-right {
    text-align: center;
    gap: 20px;
    display: inline-flex;
  }
  header .header-top-container .header-top-right .header-top-right-right select {
    border: none;
    border-left: 1px solid black;
    padding-left: 10px;
    font-size: 1.2rem;
  }
}/*# sourceMappingURL=style.css.map */